<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/jobs.css' %}">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 align="center"><marquee bgcolor="green">Welcome To ANILJOBS</marquee></h1>
        <P>Continuos Jobs Updates For Every Hour....</P>
        <a class="btn btn-primary btn-lg" href="hydjobs/">Hyderabad Jobs</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="punejobs/">Pune Jobs</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="bangalorejobs/">Bangalore Jobs</a>
    </div>
</div>
</body>
</html>