<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
    <h1 align="center">Pune Jobs Information</h1>
    {% if jobs_list %}
    <table border="3" align="center" bgcolor="yellow">
        <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </thead>
      {% for job in jobs_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p id='specialp'>No Jobs in Pune...........</p>
    {% endif %}
  </body>
</body>
</html>
